#panel
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas
{
    background-color: rebeccapurple;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 320px;
    border-style: solid;
    border-color: black;
}

.square
{
    user-select: none;
    width: 12px;
    height: 12px;
    background-color: white;
    text-align: center;
}